{% block titulo %}
UDEM | Bloquear rol
{% endblock titulo %}
{% block body %}

<div class="card">
    <div class="card-header">
        <strong class="card-title">
            Bloquear rol UDEM
        </strong>
    </div>
    <div class="table-stats order-table ov-h">
        <form method="POST">
            {% csrf_token %}
            <h3>¿Quieres bloquear el rol "{{object.name}}"?</h3>
            <div>
                <button class="btm btn-danger" type="submit">Yes, block</button>
                <a href="{% url 'users:list_rol' %}" class="btn btn-danger">CANCEL</a>
            </div>
    </div>        
</div>
    
{% endblock body %}
