{% block titulo %}
UDEM | Create users
{% endblock titulo %}
{% block body %}

<div class="card">
    <div class="card-header">
        <strong class="card-title">
            Create users
        </strong>
    </div>
    <div class="table-stats order-table ov-h">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div>
                <a href="{% url 'users:list_user' %}" class="btn btn-danger">Cancel</a>
                <button type="submit">Create</button>
            </div>
    </div>        
</div>
    
{% endblock body %}
